*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width:480px) {
    .topper{
       
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
     position:relative;
    background:transparent;
    color:white;
   

}
.logo img{
    width:43px;
    height:auto;
}
#ham img{
    width:43px;
    height:auto;
    margin: 0;
}
.container{
   

    left: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    
    width: 250px;
    height: 250px;
    background: #d79595;

}
    nav{
        position:relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        
    
    
    
    

  
  
}
}

