.topper{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background: #fb8282;
    color:white;

}
nav :nth-child(1){
    border-radius: 6px;
    width: 260px;
    height: 30px;
}
nav{
    
    display: flex;
    gap: 20px;
    margin-left: auto;
  
  
}
